#datos {
	display: none;
}

#certificado1 {
	width: 75%;
	padding-bottom: 7px;
}

#certificado2 {
	width: 75%;
}

.carousel-inner {
	height: 300px;
}

#modalcertificado1 {
	width: 100%;
}

#modalcertificado2 {
	width: 100%;
}

h3 {
	text-align: center;
}

.hero {
	background-image: url(../img/fondo.jpg);
}

#sobre-mi {
	border: 2px solid darkblue;
	background-color: darkgreen;
}

#experiencia {
	background-color: darkseagreen;
}
