#datos {
	display: none;
}

#certificado1 {
	width: 75%;
	padding-bottom: 7px;
}

#certificado2 {
	width: 75%;
}

.carousel-inner {
	height: 300px;
}

body {
	background-color: aquamarine;
}

#modalcertificado1 {
	width: 100%;
}

#modalcertificado2 {
	width: 100%;
}

h3 {
	text-align: center;
}
